main
/egts_gateway
/egts_gateway.exe
/linux-amd64-egts_gateway.tar.gz
/linux-arm64-egts_gateway.tar.gz
/windows-amd64-egts_gateway.zip
/darwin-amd64-egts_gateway.tar.gz
/darwin-arm64-egts_gateway.tar.gz
/.env
/data/
/gateway/infrastructure/.env
