# Credentials and vhost initialize a new broker data volume.
RABBITMQ_BIND_HOST_MONITORING=127.0.0.1
RABBITMQ_PORT_MONITORING=5672
RABBITMQ_MANAGEMENT_PORT_MONITORING=15672
RABBITMQ_USER_MONITORING=egts_monitoring
RABBITMQ_PASSWORD_MONITORING=egts_monitoring
RABBITMQ_VHOST_MONITORING=egts

RABBITMQ_BIND_HOST_BACKUP=127.0.0.1
RABBITMQ_PORT_BACKUP=5673
RABBITMQ_MANAGEMENT_PORT_BACKUP=15673
RABBITMQ_USER_BACKUP=egts_backup
RABBITMQ_PASSWORD_BACKUP=egts_backup
RABBITMQ_VHOST_BACKUP=egts
